<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Check Operators</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: eNno - v4.7.0
  * Template URL: https://bootstrapmade.com/enno-free-simple-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <h1 class="logo"><a href="index.html">eNno</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <!-- <li><a class="nav-link scrollto active" href="#hero">Home</a></li> -->
          <li><a class="nav-link scrollto" href="#aim">Aim</a></li>
          <li><a class="nav-link scrollto" href="#theory">Theory</a></li>
          <li><a class="nav-link scrollto " href="#procedure">Procedure</a></li>
          <li><a class="nav-link scrollto" href="#sim">Simulation</a></li>
          <li><a class="nav-link scrollto" href="#disc">Discussion</a></li>

          <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>

  <section id="aim" class="aim">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 pt-4 pt-lg-0 content">
            <br>
            <br>
          <h3>Aim Of The Experiment</h3>
          <p> <!--class="fst-italic"-->
            To find out what a given operator does and check for inputs if such operators exist. 
          </p>
        </div>
        <div class="col-lg-6">
            <img src="assets/aim.png" class="img-fluid" alt="">
          </div>
    </div>

  </div>
</section>

<section id="theory" class="theory">
    <div class="container">

      <div class="row">
        <div class="col-lg-6">
            
            <img src="assets/theory.png" class="img-fluid" alt="">
          </div> 
        <!-- <div class="col-lg-6">
          <img src="assets/img/about.png" class="img-fluid" alt="">
        </div> -->
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Theory</h3>
          <p> <!--class="fst-italic"-->
            Operators are the foundation of any programming language. We can define operators as symbols that help us to perform specific mathematical and logical computations on operands. In other words, we can say that an operator operates the operands.
            C/C++ has many built-in operators and can be classified into 6 types:

          <li>  Arithmetic Operators </li>
            <li> Relational Operators </li>
            <li> Logical Operators </li>
            <li> Bitwise Operators </li>
            <li> Assignment Operators </li>

        </p>
        </div>
    </div>

  </div>
</section>

<section id="procedure" class="procedure">
    <div class="container">

      <div class="row">
        <!-- <div class="col-lg-6">
          <img src="assets/img/about.png" class="img-fluid" alt="">
        </div> -->
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Procedure</h3>
          <p> <!--class="fst-italic"-->
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a lectus ornare, condimentum velit non, fermentum ipsum. Quisque rhoncus vehicula elit, a scelerisque augue tincidunt vel. Etiam mattis, nulla ac consequat ullamcorper, ipsum libero sagittis nulla, sit amet rutrum nunc urna at augue. Aliquam urna orci, vehicula id vehicula sed, commodo non purus. Vestibulum faucibus auctor augue in condimentum. Pellentesque tempus non velit a porttitor. Mauris in tellus non sem rutrum gravida. Vivamus nec mattis sem. Aenean sit amet tristique augue. Sed auctor arcu sit amet elit semper congue. Aliquam rhoncus id neque eu porttitor. Sed pulvinar tempor congue.

Etiam neque leo, eleifend non consequat vel, convallis sed dui. Etiam scelerisque varius consequat. Phasellus quam mi, scelerisque in mi eu, tempor tempus libero. Aenean vel urna vel diam dapibus porta. Cras eget velit commodo, consectetur nunc id, porta nulla. In venenatis facilisis orci, ut lobortis nisi feugiat imperdiet. Fusce ac eros mattis, venenatis risus eget, mattis nibh. Sed iaculis metus tortor, ut pulvinar dolor sodales ac. Quisque fermentum congue egestas. Vestibulum sagittis felis ex, lobortis hendrerit nunc tempus a. Cras pellentesque a ligula quis tempor. Aenean sit amet risus nec lectus molestie blandit. Ut lacinia, leo non faucibus sagittis, nisl lacus finibus libero, eu malesuada tortor eros a mi. Donec lorem metus, fringilla ac nunc vulputate, posuere dictum ex. Vestibulum eros justo, maximus a rutrum a, fringilla in mi.

          </p>
        </div>
    </div>

  </div>
</section>

<section id="sim" class="sim">
    <div class="container">

      <div class="row">
        <!-- <div class="col-lg-6">
          <img src="assets/img/about.png" class="img-fluid" alt="">
        </div> -->
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Simulation</h3>
          <p> <!--class="fst-italic"-->
            Click <a href="/sim4">here for simulation.</a>
          </p>
        </div>
    </div>

  </div>
</section>





<section id="disc" class="disc">
    <div class="container">

      <div class="row">
        <!-- <div class="col-lg-6">
          <img src="assets/img/about.png" class="img-fluid" alt="">
        </div> -->
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Discussion</h3>
          <p> <!--class="fst-italic"-->
            Operators are basic to every programming language and identifying them can be made easier by the simulation.
          </p>
        </div>
    </div>

  </div>
</section>

