<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Check Comments</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: eNno - v4.7.0
  * Template URL: https://bootstrapmade.com/enno-free-simple-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <h1 class="logo"><a href="index.html">eNno</a></h1> -->
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <!-- <li><a class="nav-link scrollto active" href="#hero">Home</a></li> -->
          <li><a class="nav-link scrollto" href="#aim">Aim</a></li>
          <li><a class="nav-link scrollto" href="#theory">Theory</a></li>
          <li><a class="nav-link scrollto " href="#procedure">Procedure</a></li>
          <li><a class="nav-link scrollto" href="#sim">Simulation</a></li>
          <li><a class="nav-link scrollto" href="#disc">Discussion</a></li>

          <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>

  <section id="aim" class="aim">
    <div class="container">

      <div class="row">
        
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <br>
          <br>
          <h3>Aim Of The Experiment</h3>
          <p> <!--class="fst-italic"-->
            To identify whether a given line is a single line comment, multiline comment or neither.
          </p>
        </div>
        <div class="col-lg-6">
          <br>
          <br>
        <img src="assets/aim.png" class="img-fluid" alt="">
      </div> 

    </div>

  </div>
</section>

<section id="theory" class="theory">
    <div class="container">

      <div class="row">
        <div class="col-lg-6">
            
          <img src="assets/theory.png" class="img-fluid" alt="">
        </div> 
        <!-- <div class="col-lg-6">
          <img src="assets/img/about.png" class="img-fluid" alt="">
        </div> -->
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Theory</h3>
          <p> <!--class="fst-italic"-->
            In programming, comments are hints that a programmer can add to make their code easier to read and understand.
            Comments are completely ignored by C compilers. There are two ways to add comments in C:<br>

            // - Single Line Comment<br>
            /*...*/ - Multi-line Comment<br>
            In C, a single line comment starts with //. It starts and ends in the same line.
            In C programming, there is another type of comment that allows us to comment on multiple lines at once, they are multi-line comments.

            To write multi-line comments, we use the /*....*/ symbol. 

          </p>
        </div>
    </div>

  </div>
</section>

<section id="procedure" class="procedure">
    <div class="container">

      <div class="row">
        <!-- <div class="col-lg-6">
          <img src="assets/img/about.png" class="img-fluid" alt="">
        </div> -->
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Procedure</h3>
          <p> <!--class="fst-italic"-->
           If the given input line starts with '//' then its a single line comment. If the given line starts with '/' and later ends with '/', then its a multiline comment. Else its not a comment.
           The process is as follows <br>
           <li>Take the input </li>
            <li>Traverse the input line. </li>
            <li>If two consecutive '/' are found for the first two positions of the input line, then its a single line comment.</li>
            <li>If '/' is found at the starting and later '/' then it is a multiline comment.</li>
            <li>if none of the condition satisfies then its not a comment.</li>
          </p>
        </div>
        <div class="col-lg-6">
          <img src="assets/procedure.png" class="img-fluid" alt="" width="300" 
          height="300">
        </div> 
    </div>

  </div>
</section>

<section id="sim" class="sim">
    <div class="container">

      <div class="row">
        <!-- <div class="col-lg-6">
          <img src="assets/img/about.png" class="img-fluid" alt="">
        </div> -->
        
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Simulation</h3>
          <h4>Production Rules</h4>
          <ul>
            <li><i class="bi bi-check-circle"></i>   S-->S+S</li>
            <li><i class="bi bi-check-circle"></i> S-->S-S</li>
            <li><i class="bi bi-check-circle"></i> S-->S*S</li>
            <li><i class="bi bi-check-circle"></i> S-->S/S</li>       
          </ul>
          <br>
          <h4>Left Hand Derivation of a+b-c*d/e</h4>
          <ul>
            <li><i class="bi bi-check-circle"></i>  S-->S+b-c*d/e</li>
            <li><i class="bi bi-check-circle"></i> S-->S+S-c*d/e</li>
            <li><i class="bi bi-check-circle"></i> S-->S+S-S*d/e</li>
            <li><i class="bi bi-check-circle"></i> S-->S+S-S*S/e</li>
            <li><i class="bi bi-check-circle"></i> S-->S+S-S*S/S </li>         
          </ul>
         <br>
         <br>
          <h4>Right Hand Derivation of a+b-c*d/e</h4>
          <ul>
            <li><i class="bi bi-check-circle"></i>   S-->a+b-c*d/S</li>
            <li><i class="bi bi-check-circle"></i> S-->a+b-c*S/S</li>
            <li><i class="bi bi-check-circle"></i> S-->a+b-S*S/S</li>
            <li><i class="bi bi-check-circle"></i> S-->a+S-S*S/S</li>
            <li><i class="bi bi-check-circle"></i> S-->S+S-S*S/S </li>         
          </ul>
        </div>
        <div class="col-lg-6">
            <br>
            <br>
            <h4>Parse Tree for a+b-c*d/e</h4>
            <br>
            <br>
            <br>
          <img src="assets/parsetree.png" class="img-fluid" alt="" width="5000" 
          height="5000">
        </div> 
    </div>

  </div>
</section>





<section id="disc" class="disc">
    <div class="container">

      <div class="row">
        <!-- <div class="col-lg-6">
          <img src="assets/img/about.png" class="img-fluid" alt="">
        </div> -->
        <div class="col-lg-6 pt-4 pt-lg-0 content">
          <h3>Discussion</h3>
          <p> <!--class="fst-italic"-->
            The program is dependent on the production rules and will change accordingly.
          </p>
        </div>
    </div>

  </div>
</section>

